<div class="attachment">
	<%= fields_for "ticket[attachments_attributes][]", attachments do |builder| %>
		<p>
		  	Attachment: <%= builder.file_field :file %>
		    <%= link_to_function "remove", "$(this).up('.attachment').remove()" %>
		</p>
	<% end %>
</div>