<div class="page-header">
  <% if defined? params[:status] %>
    <h4>Displaying tickets.</h4>
  <% else %>
    <h4>Displaying your Open tickets.</h4>
  <% end %>
</div>

<% if !@project_tickets.blank? %>
  <table class="table table-striped">
    <thead>
      <%= render 'thead_for_tickets' %>
    </thead>
    <tbody>
        <% @project_tickets.each do |ticket| %>
          <%= render 'tickets', :ticket => ticket, :project => @project %>
        <% end %>
    </tbody>
  </table>
  <div class="pagination pagination-centered pagination-small">
    <%= will_paginate @project_tickets %>
  </div>
<% else %>
<h5>There is no ticket.</h5>
<% end %>

