<%= search_form_for @search, :url => search_project_tickets_path, method: :get do |f| %>
	<div class="input-append">
		<%= f.text_field :title_cont, :placeholder => "Search Tickets" %>
		<%= f.submit "Search", class: "btn" %> 
 	</div>
<% end %>