<div class="page-header">
  <h4>Assigned Tickets.</h4>
</div>

<% if !@user_assigned_tickets.blank? %>
  <table class="table table-striped">
    <thead>
      <%= render 'thead_for_tickets' %>
    </thead>
    <tbody>
        <% @user_assigned_tickets.each do |ticket| %>
          <%= render 'tickets', :ticket => ticket %>
        <% end %>
    </tbody>
  </table>
  <div class="pagination pagination-centered pagination-small">
    <%= will_paginate @user_assigned_tickets %>
  </div>
<% else %>
<h5>No tickets has been Assigned to you.</h5>
<% end %>