<h4>Search Tickets:</h4>

<%= render 'search_form' %>

<h4>Search Results:</h4>

<% if @tickets_count > 0 %>
  <table class="table table-striped">
    <h5>
    	<%= "Total Tickets found (#{@tickets_count})" %>
    </h5>
    <thead>
      <%= render 'thead_for_tickets' %>
    </thead>
    <tbody>
      <% @tickets_searched.each do |ticket| %>
        <%= render 'tickets', :ticket => ticket %>
      <% end %>
    </tbody>
  </table>
  
  <br />
<% else %>
  <h5>Tickets (0)</h5>
  <br />
<% end %>

<br /><br />
<div class="form-actions">
 
</div>