<tr>
    <td>
    	<strong>
    		<%= link_to project.title, project_path(project) %>
    	</strong>
    </td>
    <td><%= project.description %></td>
    <td><%= link_to "New Ticket", new_project_ticket_path(project), :class => "btn btn-info" %>
    </td>
</tr>

