<tr>
    <td>
    	<strong>
    		<%= project.title %>
    	</strong>
    </td>
    <td><%= project.description %></td>
    <td><%= link_to "New Ticket", new_project_ticket_path(project), :class => "btn btn-info" %>
    </td>
</tr>

