<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <%= link_to_if(user_signed_in?, "Bug Tracker", current_user, :class => "brand" ) do link_to "Bug Tracker", new_user_session_path, :class => "brand" end %>
      <div class="nav-collapse collapse">
        <% if user_signed_in? %>
          <ul class="nav">
            <li><%= link_to 'Dashboard', current_user %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          </ul>
        <% end %>
      </div>
      <!-- Everything you want hidden at 940px or less, place within here -->
      
 
    </div>
  </div>
</div>