<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li><%= link_to 'Dashboard', home_path %></li>
    <li><%= link_to "Projects", projects_path %></li>
    <li><%= link_to "Tickets" %></li>
  </ul>
  <!-- <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p>I'm in Section 1.</p>
    </div>
    <div class="tab-pane" id="tab2">
      <p>Howdy, I'm in Section 2.</p>
    </div>
  </div> -->
</div>